/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/influenzangs -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  single_end = false
  reads = "data/testdata/fastq/*_L001_R{1,2}_001.fastq"
  genome = "data/testdata/genome/*.fasta"
}

process {
  container = 'jeremy1805/influenzangs:dev'
  withLabel:OldversionGATK { container = 'broadinstitute/gatk3:3.8-1'}
}
